<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mialab.mybatis_first_demo.com.mialab.mybatis_first_demo.mapper.TextMapper">
	<select id="queryAllStudent"  resultType="com.mialab.mybatis_first_demo.com.mialab.mybatis_first_demo.domain.Student">
	SELECT * FROM team LIMIT #{num} OFFSET #{begin}
	</select>
	
	
	<select id="queryAllText"  resultType="com.mialab.mybatis_first_demo.com.mialab.mybatis_first_demo.domain.shareText">
	SELECT * FROM text ORDER BY textID DESC LIMIT #{num} OFFSET #{begin} 
	</select>
	
	
	<select id="getNumStudent" resultType="int">
	SELECT COUNT(*) FROM team
	</select>
	
	<select id="getNumText" resultType="int">
	SELECT COUNT(*) FROM text
	</select>
	
	
	<insert id="sendMessage">
		INSERT into message (myName,userID,textID,message) values(#{myName},#{userID},#{textID},#{message}) 
	</insert>
	<select id="queryMessage" resultType="com.mialab.mybatis_first_demo.com.mialab.mybatis_first_demo.domain.Message">
		SELECT * FROM message where userID=#{userID} and textID=#{textID}
		
	</select>
	
	<update id="notLike">
	 UPDATE text set num_like =(num_like-1) where userID=#{userID} AND textID=#{textID}
	</update>
	
	
	<select id="queryText" parameterType="com.mialab.mybatis_first_demo.com.mialab.mybatis_first_demo.domain.User" resultType="com.mialab.mybatis_first_demo.com.mialab.mybatis_first_demo.domain.shareText">
		SELECT * FROM text <where>
								<if test="username !=null">username=#{username}</if>
								<if test="userID !=0">userID=#{userID}</if>
								<if test="phone !=null">phone=#{phone}</if>
								<if test="sex !=null">sex=#{sex}</if>
							</where>
	</select>
	
	
	<select id="queryMyLikeText" parameterType="com.mialab.mybatis_first_demo.com.mialab.mybatis_first_demo.domain.User" resultType="com.mialab.mybatis_first_demo.com.mialab.mybatis_first_demo.domain.shareText">
		SELECT * FROM mylike right join text on text.userID=mylike.userID and text.textID=mylike.textID where myID=#{userID}
		
	
					
							
							
	</select>
	
	<select id="getNumTextByUsername" resultType="int">
	SELECT COUNT(*) FROM text where username=#{username}
	
	</select>
	
	<update id="reWriteText" parameterType="com.mialab.mybatis_first_demo.com.mialab.mybatis_first_demo.domain.shareText">
	UPDATE text <set>
					title=#{title},
					text=#{text},
					picpath1=#{picpath1},
					picpath2=#{picpath2},
					date=#{date}
				</set>
				where textID=#{textID} AND userID=#{userID}
	
	
	</update>
	
	<delete id="deleteText" >
	
	DELETE FROM text where userID=#{userID} and textID=#{textID}
	
	</delete>
	
	<update id="updateNumMessage">
	UPDATE text set num_message=(num_message+1) where userID=#{userID} and textID=#{textID}
	</update>
	
	<delete id="cancelLike">
	
	DELETE FROM mylike where myID=#{myID} and userID=#{userID} and textID=#{textID}
	
	
	</delete>
	
	<select id="searchText" parameterType="com.mialab.mybatis_first_demo.com.mialab.mybatis_first_demo.domain.shareText" resultType="com.mialab.mybatis_first_demo.com.mialab.mybatis_first_demo.domain.shareText">
	SELECT * FROM text <where>
						<if test="text !=null and text!='' ">
							text LIKE '%${text}%'
						</if>
						
						<if test="title!=null and title!='' ">
							title LIKE '%${title}%'
						</if>
						
						<if test="username!=null and username!=''  ">
						username LIKE '%${username}%'
						</if>
						
						<if test="date!=null and date!=''   ">
							date LIKE '%${date}%'
						</if>
						</where>
	</select>
	
	<select id="searchByName" resultType="com.mialab.mybatis_first_demo.com.mialab.mybatis_first_demo.domain.shareText">
	SELECT * FROM text where username=#{searchfactor}
	</select>
	
	
	
</mapper>